p{
    font-family: Roboto,Arial;
    margin-top: 0;
    margin-bottom: 0px;
}
body{
    margin: 0px;
    padding-top: 80px; 
    padding-left: 100px;
    padding-right:27px ;
    background-color: rgb(242, 242, 242);
}