.sidebar{
    background-color: white;
    color:black;
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
    display: flex;
    height: 74px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(231, 229, 229);
}

.sidebar-link img{
    height: 28px;
    margin-bottom: 4px;

}
.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
    

}