.thumbnail{
    width:100%;
    
}

.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
    
}
.video-title-link{
    text-decoration: none;
    color: black;
}
                
.time{
    position: absolute;
    background-color: black;
    color: white;
    bottom: 10px;
    right: 0;
    font-family: Roboto,Arial;
    font-size:12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right:4px ;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
}         
                
.video-info-grid{
    display:grid;
    grid-template-columns: 50px 1fr;
}
.channel-picture{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
            
.video-info{
    display: inline-block;
    width: 270px;
    text-decoration: none;
}
.profile-picture{
    width: 36px;
    border-radius: 50px;
}
.thumbnail-row{
    margin-bottom: 12px;
    position: relative;
    margin-bottom: 8px;

}
.video-author,
.video-stats{
    font-size: 12px;
    color: rgb(96,96,96);
    
}
.video-author{
    margin-bottom: 4px;
    
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
@media (max-width: 600px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video-preview{
    cursor: pointer;
}